* {
    margin: 0;
    padding: 0;
}

.parent {
    display: grid;
    grid-template: auto 1fr auto /auto  2fr 1fr;
    height: 110vh;
}

.cabecalho {
    background: lightpink;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    
    
}

nav {
    margin: 0 auto 0rem;
	max-width: 100vw;
    
}

nav :visited{color: #df12df;}

nav  :hover{
    color: #2adf128a;
}

.navigation {
    list-style:none;
    display: flex;
    flex-wrap: wrap;
    background-color:black;
    margin-top: 10%;

}

.navigation li {
    flex:  1 1 auto;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
}



main {
    grid-column: 1 / 3;
    background-color: coral;
    
}

.right-side {
    grid-column: 3 / 4;
    background:yellowgreen;
}

footer {
    grid-column: 1 / 4;
    padding: 2rem;
    text-align: center;
    background: wheat;
}
